In [161]:
from urllib.request import urlopen
from json import loads
import pandas as pd
import requests
import geopandas as gpd
import glob
import numpy as np

# Finance

In [162]:
url = "https://educationdata.urban.org/api/v1/school-districts/ccd/finance/2020/"

# Loop over pages 
response = requests.get(url).json()
data = response["results"]
while response["next"]:
    response = requests.get(response["next"]).json()
    data.extend(response["results"])

# Convert response to pandas dataframe 
fina = pd.DataFrame(data)

In [163]:
fina[fina['fips'] == 15]

,year,fips,leaid,censusid,rev_total,rev_fed_total,rev_fed_child_nutrition_act,rev_fed_state_title_i,rev_fed_state_idea,rev_fed_state_math_sci_teach,...,debt_longterm_retired_fy,debt_longterm_outstand_end_fy,debt_shortterm_outstand_beg_fy,debt_shortterm_outstand_end_fy,assets_sinking_fund,assets_bond_fund,assets_other,enrollment_fall_responsible,enrollment_fall_school,exp_current_resa
4344,2020,15,1500030,12000000030000,3.241890e+09,371018000.0,29069000,55642000,34095000,None,...,0,0,0,0,0,0,0,176441,176441,0.0

#### Set -1, -2, -3 for NaN

In [164]:
fina.replace([-1, -2, -3], np.nan, inplace=True)
fina

,year,fips,leaid,censusid,rev_total,rev_fed_total,rev_fed_child_nutrition_act,rev_fed_state_title_i,rev_fed_state_idea,rev_fed_state_math_sci_teach,...,debt_longterm_retired_fy,debt_longterm_outstand_end_fy,debt_shortterm_outstand_beg_fy,debt_shortterm_outstand_end_fy,assets_sinking_fund,assets_bond_fund,assets_other,enrollment_fall_responsible,enrollment_fall_school,exp_current_resa
0,2020,1,0100002,-2,NaN,NaN,NaN,NaN,NaN,None,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2020,1,0100005,01504840100000,74420000.0,10327000.0,3904000.0,2502000.0,1255000.0,None,...,3035000.0,23516000.0,0.0,0.0,15440000.0,8566000.0,14950000.0,5842.0,5842.0,0.0
2,2020,1,0100006,01504800100000,72199000.0,13429000.0,2976000.0,3294000.0,1155000.0,None,...,766000.0,23816000.0,0.0,0.0,2248000.0,1721000.0,3616000.0,5758.0,5758.0,0.0
3,2020,1,0100007,01503740100000,202260000.0,12871000.0,5574000.0,929000.0,2659000.0,None,...,6940000.0,151315000.0,0.0,0.0,0.0,5318000.0,122652000.0,13640.0,13640.0,0.0
4,2020,1,0100008,01504530100000,169202000.0,16719000.0,4904000.0,718000.0,2133000.0,None,...,5721000.0,135102000.0,0.0,0.0,31491000.0,72517000.0,16152000.0,11804.0,11804.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19549,2020,56,5680250,51502040100000,NaN,NaN,NaN,NaN,NaN,None,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,NaN
19550,2020,56,5680251,-2,NaN,NaN,NaN,NaN,NaN,None,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,21.0,21.0,NaN
19551,2020,56,5680252,-2,NaN,NaN,NaN,NaN,NaN,None,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,13.0,13.0,NaN
19552,2020,56,5680253,-2,NaN,NaN,NaN,NaN,NaN,None,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,11.0,11.0,NaN
19553,2020,56,5680255,-2,NaN,NaN,NaN,NaN,NaN,None,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,7.0,7.0,NaN

In [165]:
fina.isnull().sum()

year                              0
fips                              0
leaid                             0
censusid                          0
rev_total                      1388
                               ...
assets_bond_fund               1388
assets_other                   1388
enrollment_fall_responsible    1797
enrollment_fall_school         1633
exp_current_resa               1388
Length: 134, dtype: int64

In [166]:
v = fina[fina['fips'] == 50]
v

,year,fips,leaid,censusid,rev_total,rev_fed_total,rev_fed_child_nutrition_act,rev_fed_state_title_i,rev_fed_state_idea,rev_fed_state_math_sci_teach,...,debt_longterm_retired_fy,debt_longterm_outstand_end_fy,debt_shortterm_outstand_beg_fy,debt_shortterm_outstand_end_fy,assets_sinking_fund,assets_bond_fund,assets_other,enrollment_fall_responsible,enrollment_fall_school,exp_current_resa
18224,2020,50,5000004,46500220100000,3208000.0,934000.0,204000.0,207000.0,108000.0,None,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN,NaN,0.0
18225,2020,50,5000005,-2,NaN,NaN,NaN,NaN,NaN,None,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18226,2020,50,5000007,-2,NaN,NaN,NaN,NaN,NaN,None,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18227,2020,50,5000011,46500430200000,NaN,NaN,NaN,NaN,NaN,None,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN
18228,2020,50,5000012,-2,39000.0,0.0,0.0,0.0,0.0,None,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
18407,2020,50,5099951,46501440500000,8072000.0,1886000.0,366000.0,316000.0,278000.0,None,...,0.0,0.0,0.0,0.0,0.0,0.0,531000.0,NaN,NaN,0.0
18408,2020,50,5099952,46501440700000,14081000.0,2922000.0,705000.0,307000.0,479000.0,None,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN,NaN,0.0
18409,2020,50,5099954,46501440100000,NaN,NaN,NaN,NaN,NaN,None,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18410,2020,50,5099955,-2,NaN,NaN,NaN,NaN,NaN,None,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18411,2020,50,5099956,-2,NaN,NaN,NaN,NaN,NaN,None,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

# Poverty

In [167]:
url = "https://educationdata.urban.org/api/v1/school-districts/saipe/2020/"

# Loop over pages 
response = requests.get(url).json()
data = response["results"]
while response["next"]:
    response = requests.get(response["next"]).json()
    data.extend(response["results"])

# Convert response to pandas dataframe 
df2 = pd.DataFrame(data)

In [168]:
df2[df2['fips'] == '15']

,district_id,district_name,est_population_total,est_population_5_17,est_population_5_17_poverty,year,leaid,fips,est_population_5_17_poverty_pct,est_population_5_17_pct
2196,00030,Hawaii Department of Education,1407006.0,211778.0,20056.0,2020,1500030,15,0.094703,0.150517

#### Set -1, -2, -3 for NaN

In [169]:
df2.replace([-1, -2, -3], np.nan, inplace=True)
df2

,district_id,district_name,est_population_total,est_population_5_17,est_population_5_17_poverty,year,leaid,fips,est_population_5_17_poverty_pct,est_population_5_17_pct
0,00190,Alabaster City School District,35268.0,6797.0,669.0,2020,0100190,1,0.098426,0.192724
1,00005,Albertville City School District,22120.0,4163.0,918.0,2020,0100005,1,0.220514,0.188201
2,00030,Alexander City City School District,16819.0,2579.0,700.0,2020,0100030,1,0.271423,0.153338
3,00060,Andalusia City School District,8818.0,1471.0,346.0,2020,0100060,1,0.235214,0.166818
4,00090,Anniston City School District,22017.0,3053.0,735.0,2020,0100090,1,0.240747,0.138666
...,...,...,...,...,...,...,...,...,...,...
13168,06240,Washakie County School District 1,7094.0,1236.0,139.0,2020,5606240,56,0.112460,0.174232
13169,05820,Washakie County School District 2,666.0,86.0,9.0,2020,5605820,56,0.104651,0.129129
13170,04830,Weston County School District 1,5320.0,796.0,88.0,2020,5604830,56,0.110553,0.149624
13171,06090,Weston County School District 7,1423.0,243.0,25.0,2020,5606090,56,0.102881,0.170766
13172,00030,Puerto Rico,3193694.0,455249.0,248608.0,2020,7200030,72,0.546092,0.142546

In [170]:
df2.isnull().sum()

district_id                        0
district_name                      0
est_population_total               0
est_population_5_17                0
est_population_5_17_poverty        0
year                               0
leaid                              0
fips                               0
est_population_5_17_poverty_pct    9
est_population_5_17_pct            3
dtype: int64

In [171]:
len(df2[df2['fips'] == '50'])

52

# Get shapefile

This is where I got the data: https://www2.census.gov/geo/tiger/TIGER2020/UNSD/

This is where I am taking all of the files and putting them together. I figured out that there are three different school district files that I need to put togehter and this is where im doing it.

In [172]:
# Define the path to search for shapefiles
path_to_search = '/Users/nicholashorton/Documents/Data Viz/Final Project/ Unified School District Shapefiles/**/*.shp'

# Use glob to get all .shp files
shapefiles = glob.glob(path_to_search, recursive=True)

# Read and concatenate all shapefiles into a single GeoDataFrame
gdfs = [gpd.read_file(shp) for shp in shapefiles]
unified = gpd.GeoDataFrame(pd.concat(gdfs, ignore_index=True))

In [173]:
unified.replace([-1, -2, -3], np.nan, inplace=True)
unified

,STATEFP,UNSDLEA,GEOID,NAME,LSAD,LOGRADE,HIGRADE,MTFCC,SDTYP,FUNCSTAT,ALAND,AWATER,INTPTLAT,INTPTLON,geometry
0,26,29250,2629250,Quincy Community School District,00,PK,12,G5420,None,E,274847210,4217818,+41.9193965,-084.8683970,"MULTIPOLYGON (((-84.91766 41.76374, -84.91254 ..."
1,26,19100,2619100,Imlay City Community Schools,00,PK,12,G5420,None,E,266488844,2977346,+43.0576257,-083.0804804,"POLYGON ((-83.21306 42.99102, -83.21287 42.991..."
2,26,04020,2604020,Bark River-Harris School District,00,KG,12,G5420,None,E,459660467,411843,+45.7922299,-087.3759284,"POLYGON ((-87.49286 45.94106, -87.49281 45.945..."
3,26,32550,2632550,Spring Lake Public Schools,00,PK,12,G5420,None,E,83368916,7885590,+43.0682098,-086.1096710,"POLYGON ((-86.21542 43.10232, -86.21541 43.103..."
4,26,19580,2619580,Ithaca Public Schools,00,KG,12,G5420,None,E,400627005,1379243,+43.2699254,-084.5918668,"MULTIPOLYGON (((-84.43447 43.33140, -84.43447 ..."
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
21743,09,05190,0905190,Windham School District,00,PK,12,G5420,None,E,69533870,2148923,+41.7144745,-072.1686670,"POLYGON ((-72.25320 41.72580, -72.25302 41.726..."
21744,09,05220,0905220,Windsor School District,00,PK,12,G5420,None,E,76443198,3749674,+41.8710365,-072.6750825,"POLYGON ((-72.74278 41.87796, -72.74238 41.879..."
21745,09,05250,0905250,Windsor Locks School District,00,PK,12,G5420,None,E,23371117,885163,+41.9277901,-072.6516158,"POLYGON ((-72.69591 41.92243, -72.69559 41.922..."
21746,09,05280,0905280,Wolcott School District,00,PK,12,G5420,None,E,52905034,1756476,+41.5950295,-072.9685135,"POLYGON ((-73.02147 41.62710, -73.00702 41.628..."
21747,09,99997,0999997,School District Not Defined,00,PK,12,G5420,None,F,0,1095660734,+41.1666065,-072.8424645,"POLYGON ((-73.45646 40.99116, -73.45646 41.013..."

##### so I figured out that this is only the "unified" school districts. so when you plot just these on the map there are a ton of gaps in the districts. so I went back and downloaded "elementry" school districts, and "secondary" school districts

### Elementry School Districts

In [174]:
# Define the path to search for shapefiles
path_to_search = '/Users/nicholashorton/Documents/Data Viz/Final Project/Elementry School District Shapefiles/**/*.shp'

# Use glob to get all .shp files
shapefiles = glob.glob(path_to_search, recursive=True)

# Read and concatenate all shapefiles into a single GeoDataFrame
gdfs = [gpd.read_file(shp) for shp in shapefiles]
elementry = gpd.GeoDataFrame(pd.concat(gdfs, ignore_index=True))

In [175]:
elementry.replace([-1, -2, -3], np.nan, inplace=True)
elementry

,STATEFP,ELSDLEA,GEOID,NAME,LSAD,LOGRADE,HIGRADE,MTFCC,SDTYP,FUNCSTAT,ALAND,AWATER,INTPTLAT,INTPTLON,geometry
0,06,39210,0639210,Three Rivers Union Elementary School District,00,KG,08,G5400,None,E,1824216735,6070456,+36.4369886,-118.6715330,"POLYGON ((-118.99234 36.31225, -118.99228 36.3..."
1,06,32430,0632430,Richgrove Elementary School District,00,KG,08,G5400,None,E,68561298,0,+35.8291093,-119.1403932,"POLYGON ((-119.19679 35.80505, -119.19559 35.8..."
2,06,39300,0639300,Tipton Elementary School District,00,KG,08,G5400,None,E,127153966,0,+36.0477094,-119.3136421,"POLYGON ((-119.41125 36.03258, -119.41118 36.0..."
3,06,36360,0636360,Sequoia Union Elementary School District,00,KG,08,G5400,None,E,92259294,3118304,+36.3612729,-119.0512622,"POLYGON ((-119.15233 36.34135, -119.15231 36.3..."
4,06,19740,0619740,Kings River Union Elementary School District,00,KG,08,G5400,None,E,35341746,54505,+36.5011241,-119.4713050,"POLYGON ((-119.52869 36.49619, -119.52867 36.4..."
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1940,44,00390,4400390,Foster Elementary School District,00,PK,05,G5400,None,E,131446005,2835602,+41.7887835,-071.7349343,"POLYGON ((-71.79468 41.85441, -71.79450 41.854..."
1941,44,00450,4400450,Glocester Elementary School District,00,PK,05,G5400,None,E,140463700,6914230,+41.8943240,-071.6869046,"POLYGON ((-71.79778 41.92864, -71.79768 41.928..."
1942,44,00510,4400510,Jamestown School District,00,PK,12,G5400,None,E,24469391,66991102,+41.5197301,-071.3710759,"POLYGON ((-71.42190 41.44900, -71.41727 41.455..."
1943,44,00600,4400600,Little Compton School District,00,PK,12,G5400,None,E,53214256,21427333,+41.5028606,-071.1658085,"POLYGON ((-71.22107 41.54330, -71.21462 41.544..."
1944,13,00002,1300002,Fort Benning Schools,00,KG,08,G5400,B,E,681516465,4822752,+32.4004755,-084.8022711,"POLYGON ((-85.00810 32.33668, -85.00726 32.338..."

### Secondary School Districts

In [176]:
# Define the path to search for shapefiles
path_to_search = '/Users/nicholashorton/Documents/Data Viz/Final Project/Secondary School Districts/**/*.shp'

# Use glob to get all .shp files
shapefiles = glob.glob(path_to_search, recursive=True)

# Read and concatenate all shapefiles into a single GeoDataFrame
gdfs = [gpd.read_file(shp) for shp in shapefiles]
secondary = gpd.GeoDataFrame(pd.concat(gdfs, ignore_index=True))

In [177]:
secondary.replace([-1, -2, -3], np.nan, inplace=True)
secondary.isnull().sum()

STATEFP       0
SCSDLEA       0
GEOID         0
NAME          0
LSAD          0
LOGRADE       0
HIGRADE       0
MTFCC         0
SDTYP       387
FUNCSTAT      0
ALAND         0
AWATER        0
INTPTLAT      0
INTPTLON      0
geometry      0
dtype: int64

#### Combine the 3 school districts into one file

In [178]:
len(unified) + len(secondary) + len(elementry)

24166

In [179]:
combined_gdf = pd.concat([unified, secondary, elementry])
combined_gdf = combined_gdf[['STATEFP', 'NAME', 'GEOID', 'LOGRADE', 'HIGRADE', 'geometry']]
combined_gdf

,STATEFP,NAME,GEOID,LOGRADE,HIGRADE,geometry
0,26,Quincy Community School District,2629250,PK,12,"MULTIPOLYGON (((-84.91766 41.76374, -84.91254 ..."
1,26,Imlay City Community Schools,2619100,PK,12,"POLYGON ((-83.21306 42.99102, -83.21287 42.991..."
2,26,Bark River-Harris School District,2604020,KG,12,"POLYGON ((-87.49286 45.94106, -87.49281 45.945..."
3,26,Spring Lake Public Schools,2632550,PK,12,"POLYGON ((-86.21542 43.10232, -86.21541 43.103..."
4,26,Ithaca Public Schools,2619580,KG,12,"MULTIPOLYGON (((-84.43447 43.33140, -84.43447 ..."
...,...,...,...,...,...,...
1940,44,Foster Elementary School District,4400390,PK,05,"POLYGON ((-71.79468 41.85441, -71.79450 41.854..."
1941,44,Glocester Elementary School District,4400450,PK,05,"POLYGON ((-71.79778 41.92864, -71.79768 41.928..."
1942,44,Jamestown School District,4400510,PK,12,"POLYGON ((-71.42190 41.44900, -71.41727 41.455..."
1943,44,Little Compton School District,4400600,PK,12,"POLYGON ((-71.22107 41.54330, -71.21462 41.544..."
1944,13,Fort Benning Schools,1300002,KG,08,"POLYGON ((-85.00810 32.33668, -85.00726 32.338..."

In [180]:
len(combined_gdf.STATEFP.unique())

56

# Join the files together

### Get the needed columns for the shapefile

### Get the needed columns for financal data

In [181]:
fina = fina[['fips','leaid', 'rev_total', 'rev_fed_total', 'rev_state_total', 'rev_local_total', 'exp_total', 'exp_current_elsec_total', 'enrollment_fall_school',
              'exp_current_resa']]

fina.rename(columns={
    'rev_total': 'Total Revenue',
    'rev_fed_total': 'Total Fedreal Revenue',
    'rev_state_total': 'Total State Revenue',
    'exp_total': 'Total Expenditure',
    'exp_current_elsec_total': 'Total current expenditures for elementary and secondary education',
    'enrollment_fall_school': 'Number of students attending school within the reporting local education agency',
    'exp_sped_current': 'Current special education expenditures',
    'exp_instruction': 'Expenditures on instruction'
}, inplace=True)
fina

/var/folders/n2/fnwtrxs13n10mlfx7sftx0t00000gn/T/ipykernel_60223/1379491406.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  fina.rename(columns={

,fips,leaid,Total Revenue,Total Fedreal Revenue,Total State Revenue,rev_local_total,Total Expenditure,Total current expenditures for elementary and secondary education,Number of students attending school within the reporting local education agency,exp_current_resa
0,1,0100002,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1,0100005,74420000.0,10327000.0,47611000.0,16482000.0,59207000.0,54703000.0,5842.0,0.0
2,1,0100006,72199000.0,13429000.0,43954000.0,14816000.0,68866000.0,64386000.0,5758.0,0.0
3,1,0100007,202260000.0,12871000.0,84578000.0,104811000.0,192421000.0,165287000.0,13640.0,0.0
4,1,0100008,169202000.0,16719000.0,85046000.0,67437000.0,184180000.0,125095000.0,11804.0,0.0
...,...,...,...,...,...,...,...,...,...,...
19549,56,5680250,NaN,NaN,NaN,NaN,NaN,NaN,1.0,NaN
19550,56,5680251,NaN,NaN,NaN,NaN,NaN,NaN,21.0,NaN
19551,56,5680252,NaN,NaN,NaN,NaN,NaN,NaN,13.0,NaN
19552,56,5680253,NaN,NaN,NaN,NaN,NaN,NaN,11.0,NaN
19553,56,5680255,NaN,NaN,NaN,NaN,NaN,NaN,7.0,NaN

In [182]:
fina[fina['fips'] == 15]

,fips,leaid,Total Revenue,Total Fedreal Revenue,Total State Revenue,rev_local_total,Total Expenditure,Total current expenditures for elementary and secondary education,Number of students attending school within the reporting local education agency,exp_current_resa
4344,15,1500030,3.241890e+09,371018000.0,2.851764e+09,19108000.0,3.115265e+09,2.920091e+09,176441.0,0.0

In [183]:
fina.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 19554 entries, 0 to 19553
Data columns (total 10 columns):
 #   Column                                                                           Non-Null Count  Dtype
---  ------                                                                           --------------  -----
 0   fips                                                                             19554 non-null  int64
 1   leaid                                                                            19554 non-null  object
 2   Total Revenue                                                                    18166 non-null  float64
 3   Total Fedreal Revenue                                                            18166 non-null  float64
 4   Total State Revenue                                                              18166 non-null  float64
 5   rev_local_total                                                                  18166 non-null  float64
 6   Total Expenditure                                                                18166 non-null  float64
 7   Total current expenditures for elementary and secondary education                18166 non-null  float64
 8   Number of students attending school within the reporting local education agency  17921 non-null  float64
 9   exp_current_resa                                                                 18166 non-null  float64
dtypes: float64(8), int64(1), object(1)
memory usage: 1.5+ MB

### Get the needed columns for poverty data

In [184]:
pov = df2[['fips', 'district_name', 'est_population_total', 'est_population_5_17', 'est_population_5_17_poverty', 'leaid', 
           'est_population_5_17_poverty_pct', 'est_population_5_17_pct']]

pov.rename(columns={
    'est_population_total': 'Estimated total population',
    'est_population_5_17':'Estimated total population ages 5-17',
    'est_population_5_17_poverty':'Estimated population ages 5-17 in poverty',
    'est_population_5_17_poverty_pct':'Share of school-age population (ages 5-17) in poverty',
    'est_population_5_17_pct':'Share of population that is school age (ages 5-17)'
}, inplace=True)
pov

/var/folders/n2/fnwtrxs13n10mlfx7sftx0t00000gn/T/ipykernel_60223/1482832244.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  pov.rename(columns={

,fips,district_name,Estimated total population,Estimated total population ages 5-17,Estimated population ages 5-17 in poverty,leaid,Share of school-age population (ages 5-17) in poverty,Share of population that is school age (ages 5-17)
0,1,Alabaster City School District,35268.0,6797.0,669.0,0100190,0.098426,0.192724
1,1,Albertville City School District,22120.0,4163.0,918.0,0100005,0.220514,0.188201
2,1,Alexander City City School District,16819.0,2579.0,700.0,0100030,0.271423,0.153338
3,1,Andalusia City School District,8818.0,1471.0,346.0,0100060,0.235214,0.166818
4,1,Anniston City School District,22017.0,3053.0,735.0,0100090,0.240747,0.138666
...,...,...,...,...,...,...,...,...
13168,56,Washakie County School District 1,7094.0,1236.0,139.0,5606240,0.112460,0.174232
13169,56,Washakie County School District 2,666.0,86.0,9.0,5605820,0.104651,0.129129
13170,56,Weston County School District 1,5320.0,796.0,88.0,5604830,0.110553,0.149624
13171,56,Weston County School District 7,1423.0,243.0,25.0,5606090,0.102881,0.170766
13172,72,Puerto Rico,3193694.0,455249.0,248608.0,7200030,0.546092,0.142546

In [185]:
pov[pov['fips'] == '15']

,fips,district_name,Estimated total population,Estimated total population ages 5-17,Estimated population ages 5-17 in poverty,leaid,Share of school-age population (ages 5-17) in poverty,Share of population that is school age (ages 5-17)
2196,15,Hawaii Department of Education,1407006.0,211778.0,20056.0,1500030,0.094703,0.150517

In [186]:
pov['fips'] = pov['fips'].astype(int)

/var/folders/n2/fnwtrxs13n10mlfx7sftx0t00000gn/T/ipykernel_60223/3745452673.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  pov['fips'] = pov['fips'].astype(int)

### Merge finalcial and shapefile

In [187]:
merged_df = pd.merge(combined_gdf, fina, left_on='GEOID', right_on='leaid', how='left')

In [188]:
merged_df[merged_df['fips'] == 15]

,STATEFP,NAME,GEOID,LOGRADE,HIGRADE,geometry,fips,leaid,Total Revenue,Total Fedreal Revenue,Total State Revenue,rev_local_total,Total Expenditure,Total current expenditures for elementary and secondary education,Number of students attending school within the reporting local education agency,exp_current_resa
7056,15,Hawaii Department of Education,1500030,KG,12,"MULTIPOLYGON (((-156.11930 19.73648, -156.1179...",15.0,1500030,3.241890e+09,371018000.0,2.851764e+09,19108000.0,3.115265e+09,2.920091e+09,176441.0,0.0
17930,15,Hawaii Department of Education,1500030,KG,12,"MULTIPOLYGON (((-156.11930 19.73648, -156.1179...",15.0,1500030,3.241890e+09,371018000.0,2.851764e+09,19108000.0,3.115265e+09,2.920091e+09,176441.0,0.0

In [189]:
merged_df.drop_duplicates()

,STATEFP,NAME,GEOID,LOGRADE,HIGRADE,geometry,fips,leaid,Total Revenue,Total Fedreal Revenue,Total State Revenue,rev_local_total,Total Expenditure,Total current expenditures for elementary and secondary education,Number of students attending school within the reporting local education agency,exp_current_resa
0,26,Quincy Community School District,2629250,PK,12,"MULTIPOLYGON (((-84.91766 41.76374, -84.91254 ...",26.0,2629250,14841000.0,2240000.0,9954000.0,2647000.0,12631000.0,11699000.0,1160.0,0.0
1,26,Imlay City Community Schools,2619100,PK,12,"POLYGON ((-83.21306 42.99102, -83.21287 42.991...",26.0,2619100,26938000.0,2562000.0,17576000.0,6800000.0,31667000.0,20812000.0,1855.0,0.0
2,26,Bark River-Harris School District,2604020,KG,12,"POLYGON ((-87.49286 45.94106, -87.49281 45.945...",26.0,2604020,8904000.0,1223000.0,6626000.0,1055000.0,9502000.0,7715000.0,681.0,0.0
3,26,Spring Lake Public Schools,2632550,PK,12,"POLYGON ((-86.21542 43.10232, -86.21541 43.103...",26.0,2632550,38617000.0,2168000.0,21923000.0,14526000.0,33337000.0,29195000.0,2419.0,0.0
4,26,Ithaca Public Schools,2619580,KG,12,"MULTIPOLYGON (((-84.43447 43.33140, -84.43447 ...",26.0,2619580,14627000.0,1536000.0,9315000.0,3776000.0,12421000.0,11390000.0,1043.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
24161,44,Foster Elementary School District,4400390,PK,05,"POLYGON ((-71.79468 41.85441, -71.79450 41.854...",44.0,4400390,5205000.0,377000.0,1302000.0,3526000.0,4455000.0,4258000.0,208.0,0.0
24162,44,Glocester Elementary School District,4400450,PK,05,"POLYGON ((-71.79778 41.92864, -71.79768 41.928...",44.0,4400450,11389000.0,1088000.0,3047000.0,7254000.0,10208000.0,9906000.0,523.0,0.0
24163,44,Jamestown School District,4400510,PK,12,"POLYGON ((-71.42190 41.44900, -71.41727 41.455...",44.0,4400510,14523000.0,855000.0,1099000.0,12569000.0,14413000.0,10290000.0,458.0,0.0
24164,44,Little Compton School District,4400600,PK,12,"POLYGON ((-71.22107 41.54330, -71.21462 41.544...",44.0,4400600,8620000.0,269000.0,1028000.0,7323000.0,8448000.0,6654000.0,209.0,0.0
24165,13,Fort Benning Schools,1300002,KG,08,"POLYGON ((-85.00810 32.33668, -85.00726 32.338...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

### Merge poverty with the already merged data frame

In [190]:
merged_df2 = pd.merge(merged_df, pov, left_on='GEOID', right_on='leaid', how='left')

In [191]:
merged_df2[merged_df2['fips_x'] == 15]

,STATEFP,NAME,GEOID,LOGRADE,HIGRADE,geometry,fips_x,leaid_x,Total Revenue,Total Fedreal Revenue,...,Number of students attending school within the reporting local education agency,exp_current_resa,fips_y,district_name,Estimated total population,Estimated total population ages 5-17,Estimated population ages 5-17 in poverty,leaid_y,Share of school-age population (ages 5-17) in poverty,Share of population that is school age (ages 5-17)
7056,15,Hawaii Department of Education,1500030,KG,12,"MULTIPOLYGON (((-156.11930 19.73648, -156.1179...",15.0,1500030,3.241890e+09,371018000.0,...,176441.0,0.0,15.0,Hawaii Department of Education,1407006.0,211778.0,20056.0,1500030,0.094703,0.150517
17930,15,Hawaii Department of Education,1500030,KG,12,"MULTIPOLYGON (((-156.11930 19.73648, -156.1179...",15.0,1500030,3.241890e+09,371018000.0,...,176441.0,0.0,15.0,Hawaii Department of Education,1407006.0,211778.0,20056.0,1500030,0.094703,0.150517

In [192]:
merged_df2.drop_duplicates()

,STATEFP,NAME,GEOID,LOGRADE,HIGRADE,geometry,fips_x,leaid_x,Total Revenue,Total Fedreal Revenue,...,Number of students attending school within the reporting local education agency,exp_current_resa,fips_y,district_name,Estimated total population,Estimated total population ages 5-17,Estimated population ages 5-17 in poverty,leaid_y,Share of school-age population (ages 5-17) in poverty,Share of population that is school age (ages 5-17)
0,26,Quincy Community School District,2629250,PK,12,"MULTIPOLYGON (((-84.91766 41.76374, -84.91254 ...",26.0,2629250,14841000.0,2240000.0,...,1160.0,0.0,26.0,Quincy Community School District,7620.0,1481.0,253.0,2629250,0.170831,0.194357
1,26,Imlay City Community Schools,2619100,PK,12,"POLYGON ((-83.21306 42.99102, -83.21287 42.991...",26.0,2619100,26938000.0,2562000.0,...,1855.0,0.0,26.0,Imlay City Community Schools,12034.0,1950.0,195.0,2619100,0.100000,0.162041
2,26,Bark River-Harris School District,2604020,KG,12,"POLYGON ((-87.49286 45.94106, -87.49281 45.945...",26.0,2604020,8904000.0,1223000.0,...,681.0,0.0,26.0,Bark River-Harris School District,3030.0,513.0,70.0,2604020,0.136452,0.169307
3,26,Spring Lake Public Schools,2632550,PK,12,"POLYGON ((-86.21542 43.10232, -86.21541 43.103...",26.0,2632550,38617000.0,2168000.0,...,2419.0,0.0,26.0,Spring Lake Public Schools,13499.0,2487.0,91.0,2632550,0.036590,0.184236
4,26,Ithaca Public Schools,2619580,KG,12,"MULTIPOLYGON (((-84.43447 43.33140, -84.43447 ...",26.0,2619580,14627000.0,1536000.0,...,1043.0,0.0,26.0,Ithaca Public Schools,7095.0,1172.0,139.0,2619580,0.118601,0.165187
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
24161,44,Foster Elementary School District,4400390,PK,05,"POLYGON ((-71.79468 41.85441, -71.79450 41.854...",44.0,4400390,5205000.0,377000.0,...,208.0,0.0,44.0,Foster Elementary School District,4677.0,286.0,26.0,4400390,0.090909,0.061150
24162,44,Glocester Elementary School District,4400450,PK,05,"POLYGON ((-71.79778 41.92864, -71.79768 41.928...",44.0,4400450,11389000.0,1088000.0,...,523.0,0.0,44.0,Glocester Elementary School District,9903.0,616.0,70.0,4400450,0.113636,0.062203
24163,44,Jamestown School District,4400510,PK,12,"POLYGON ((-71.42190 41.44900, -71.41727 41.455...",44.0,4400510,14523000.0,855000.0,...,458.0,0.0,44.0,Jamestown School District,5320.0,686.0,39.0,4400510,0.056851,0.128947
24164,44,Little Compton School District,4400600,PK,12,"POLYGON ((-71.22107 41.54330, -71.21462 41.544...",44.0,4400600,8620000.0,269000.0,...,209.0,0.0,44.0,Little Compton School District,3436.0,430.0,34.0,4400600,0.079070,0.125146
24165,13,Fort Benning Schools,1300002,KG,08,"POLYGON ((-85.00810 32.33668, -85.00726 32.338...",NaN,NaN,NaN,NaN,...,NaN,NaN,13.0,Fort Benning Schools,16357.0,2338.0,195.0,1300002,0.083405,0.142936

### Save files

In [193]:
merged_df2.to_file('finance_poverty_school_districts.shp')
merged_df2.to_csv('finance_poverty_school_districts.csv')

/var/folders/n2/fnwtrxs13n10mlfx7sftx0t00000gn/T/ipykernel_60223/1626104979.py:1: UserWarning: Column names longer than 10 characters will be truncated when saved to ESRI Shapefile.
  merged_df2.to_file('finance_poverty_school_districts.shp')

In [194]:
merged_df2.to_file('finance_poverty_school_districts.geojson')

### Group by state 
so I realized that I dont have the name of the states so im going to join the shape files together

In [195]:
merged_df2

,STATEFP,NAME,GEOID,LOGRADE,HIGRADE,geometry,fips_x,leaid_x,Total Revenue,Total Fedreal Revenue,...,Number of students attending school within the reporting local education agency,exp_current_resa,fips_y,district_name,Estimated total population,Estimated total population ages 5-17,Estimated population ages 5-17 in poverty,leaid_y,Share of school-age population (ages 5-17) in poverty,Share of population that is school age (ages 5-17)
0,26,Quincy Community School District,2629250,PK,12,"MULTIPOLYGON (((-84.91766 41.76374, -84.91254 ...",26.0,2629250,14841000.0,2240000.0,...,1160.0,0.0,26.0,Quincy Community School District,7620.0,1481.0,253.0,2629250,0.170831,0.194357
1,26,Imlay City Community Schools,2619100,PK,12,"POLYGON ((-83.21306 42.99102, -83.21287 42.991...",26.0,2619100,26938000.0,2562000.0,...,1855.0,0.0,26.0,Imlay City Community Schools,12034.0,1950.0,195.0,2619100,0.100000,0.162041
2,26,Bark River-Harris School District,2604020,KG,12,"POLYGON ((-87.49286 45.94106, -87.49281 45.945...",26.0,2604020,8904000.0,1223000.0,...,681.0,0.0,26.0,Bark River-Harris School District,3030.0,513.0,70.0,2604020,0.136452,0.169307
3,26,Spring Lake Public Schools,2632550,PK,12,"POLYGON ((-86.21542 43.10232, -86.21541 43.103...",26.0,2632550,38617000.0,2168000.0,...,2419.0,0.0,26.0,Spring Lake Public Schools,13499.0,2487.0,91.0,2632550,0.036590,0.184236
4,26,Ithaca Public Schools,2619580,KG,12,"MULTIPOLYGON (((-84.43447 43.33140, -84.43447 ...",26.0,2619580,14627000.0,1536000.0,...,1043.0,0.0,26.0,Ithaca Public Schools,7095.0,1172.0,139.0,2619580,0.118601,0.165187
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
24161,44,Foster Elementary School District,4400390,PK,05,"POLYGON ((-71.79468 41.85441, -71.79450 41.854...",44.0,4400390,5205000.0,377000.0,...,208.0,0.0,44.0,Foster Elementary School District,4677.0,286.0,26.0,4400390,0.090909,0.061150
24162,44,Glocester Elementary School District,4400450,PK,05,"POLYGON ((-71.79778 41.92864, -71.79768 41.928...",44.0,4400450,11389000.0,1088000.0,...,523.0,0.0,44.0,Glocester Elementary School District,9903.0,616.0,70.0,4400450,0.113636,0.062203
24163,44,Jamestown School District,4400510,PK,12,"POLYGON ((-71.42190 41.44900, -71.41727 41.455...",44.0,4400510,14523000.0,855000.0,...,458.0,0.0,44.0,Jamestown School District,5320.0,686.0,39.0,4400510,0.056851,0.128947
24164,44,Little Compton School District,4400600,PK,12,"POLYGON ((-71.22107 41.54330, -71.21462 41.544...",44.0,4400600,8620000.0,269000.0,...,209.0,0.0,44.0,Little Compton School District,3436.0,430.0,34.0,4400600,0.079070,0.125146
24165,13,Fort Benning Schools,1300002,KG,08,"POLYGON ((-85.00810 32.33668, -85.00726 32.338...",NaN,NaN,NaN,NaN,...,NaN,NaN,13.0,Fort Benning Schools,16357.0,2338.0,195.0,1300002,0.083405,0.142936

In [197]:
test = gpd.read_file('/Users/nicholashorton/Documents/Data Viz/Final Project/us-states.json')
test.head()

   id        name  density                                           geometry
0  01     Alabama   94.650  POLYGON ((-87.35930 35.00118, -85.60667 34.984...
1  02      Alaska    1.264  MULTIPOLYGON (((-131.60202 55.11798, -131.5691...
2  04     Arizona   57.050  POLYGON ((-109.04250 37.00026, -109.04798 31.3...
3  05    Arkansas   56.430  POLYGON ((-94.47384 36.50186, -90.15254 36.496...
4  06  California  241.700  POLYGON ((-123.23326 42.00619, -122.37885 42.0...

In [198]:
print(merged_df2.crs)
print(test.crs)

EPSG:4269
EPSG:4326

In [219]:
if merged_df2.crs != test.crs:
    print("Changing CRS")
    merged_df2 = merged_df2.to_crs(test.crs)
    print('Done')

joined = gpd.sjoin(merged_df2, test, how="left", predicate="within")

In [214]:
joined.STATEFP.nunique()

56

So i figured out why Hawii was disapearing. it was becuase of the way its joined in the sjoin. intersects gets everything but hawii but contains gets it. so im going to have to run it again with contains then join them to get the both of them

In [229]:
joined.loc[joined['STATEFP'] == '15', 'name'] = 'Hawaii'

In [230]:
joined.to_file('finance_poverty_school_districts_FINAL.geojson')

In [231]:
result = joined.groupby(['STATEFP','name']).agg(
    Total_Revenue=('Total Revenue', 'sum'),
    Total_Fedreal_Revenue=('Total Fedreal Revenue', 'sum'),
    Total_State_Revenue=('Total State Revenue', 'sum'),
    Total_Local_Revenue=('rev_local_total', 'sum'),
    Total_Expenditure=('Total Expenditure', 'sum'),
    Total_Current_Expenditures_Education=('Total current expenditures for elementary and secondary education', 'sum'),
    Number_of_Students=('Number of students attending school within the reporting local education agency', 'sum'),
    Exp_Current_RESA=('exp_current_resa', 'sum'),
    Estimated_Total_Population=('Estimated total population', 'sum'),
    Estimated_School_Age_Population=('Estimated total population ages 5-17', 'sum'),
    Estimated_School_Age_Poverty=('Estimated population ages 5-17 in poverty', 'sum'),
    School_Age_Poverty_Share=('Share of school-age population (ages 5-17) in poverty', 'sum'),
    School_Age_Share_Population=('Share of population that is school age (ages 5-17)', 'sum')
)
result
# for col in result.columns[:6]:
#     result[col] = result[col].apply(lambda x: x * 1e-6)

result

                        Total_Revenue  Total_Fedreal_Revenue  \
STATEFP name
01      Alabama          1.462399e+10           2.178050e+09
02      Alaska           1.031222e+09           1.851580e+08
04      Arizona          1.606651e+10           2.799010e+09
05      Arkansas         9.879550e+09           1.541200e+09
06      California       1.205338e+11           1.545904e+10
08      Colorado         2.478841e+10           2.894752e+09
09      Connecticut      1.541977e+10           8.285320e+08
12      Florida          1.683644e+10           2.477038e+09
13      Georgia          4.071936e+10           4.794070e+09
15      Hawaii           6.483780e+09           7.420360e+08
16      Idaho            5.155110e+09           8.040000e+08
17      Illinois         4.393070e+10           2.755755e+09
18      Indiana          1.952536e+10           1.723966e+09
19      Iowa             1.290568e+10           1.200868e+09
20      Kansas           1.172516e+10           1.020478e+09
21      Kentucky         1.072448e+10           1.750852e+09
        Missouri         0.000000e+00           0.000000e+00
22      Louisiana        8.872700e+09           1.427302e+09
23      Maine            3.962845e+09           5.531240e+08
24      Maryland         6.902748e+09           6.281040e+08
25      Massachusetts    2.614188e+10           1.531935e+09
26      Michigan         3.403592e+10           3.832254e+09
27      Minnesota        2.473949e+10           2.270428e+09
28      Mississippi      7.764702e+09           1.484404e+09
29      Missouri         2.026326e+10           2.382106e+09
30      Montana          2.018644e+09           3.498870e+08
31      Nebraska         7.053926e+09           5.933860e+08
32      Nevada           5.215600e+08           5.425400e+07
33      New Hampshire    4.131353e+09           2.881560e+08
34      New Jersey       4.741873e+10           2.383209e+09
35      New Mexico       6.458872e+09           7.438520e+08
36      New York         6.947752e+10           3.223279e+09
37      North Carolina   2.249958e+10           2.855564e+09
38      North Dakota     2.700608e+09           4.360870e+08
39      Ohio             4.188700e+10           3.524552e+09
40      Oklahoma         1.383167e+10           2.020479e+09
41      Oregon           1.553115e+10           1.244555e+09
42      Pennsylvania     5.061627e+10           2.997730e+09
44      Rhode Island     2.728393e+09           2.941010e+08
45      South Carolina   1.181684e+10           1.402848e+09
46      South Dakota     3.178600e+09           5.648820e+08
47      Tennessee        1.417760e+10           1.846434e+09
48      Texas            1.202102e+11           1.396173e+10
49      Utah             1.045192e+10           9.992240e+08
50      Vermont          1.019364e+09           1.261070e+08
51      Virginia         1.586878e+10           1.586855e+09
53      Washington       2.474231e+10           1.846440e+09
54      West Virginia    3.895688e+09           5.751460e+08
55      Wisconsin        1.913243e+10           1.385676e+09
56      Wyoming          1.666253e+09           2.203290e+08

                        Total_State_Revenue  Total_Local_Revenue  \
STATEFP name
01      Alabama                7.862680e+09         4.583262e+09
02      Alaska                 7.027960e+08         1.432680e+08
04      Arizona                6.222061e+09         7.045438e+09
05      Arkansas               4.496606e+09         3.841744e+09
06      California             6.633966e+10         3.873512e+10
08      Colorado               8.999288e+09         1.289437e+10
09      Connecticut            5.938068e+09         8.653169e+09
12      Florida                7.383562e+09         6.975838e+09
13      Georgia                1.701869e+10         1.890659e+10
15      Hawaii                 5.703528e+09         3.821600e+07
16      Idaho                  3.129950e+09         1.221160e+09
17      Illinois               1.821495e+10         2.296000e+10
18      Indiana                1.075133e+10         7.050064e+09
19      Iowa                   6.159280e+09         5.545528e+09
20      Kansas                 7.794752e+09         2.909930e+09
21      Kentucky               5.712201e+09         3.261432e+09
        Missouri               0.000000e+00         0.000000e+00
22      Louisiana              3.299526e+09         4.145872e+09
23      Maine                  1.750199e+09         1.659522e+09
24      Maryland               3.346294e+09         2.928350e+09
25      Massachusetts          1.114413e+10         1.346582e+10
26      Michigan               1.928041e+10         1.092326e+10
27      Minnesota              1.536012e+10         7.108944e+09
28      Mississippi            3.632196e+09         2.648102e+09
29      Missouri               5.825366e+09         1.205579e+10
30      Montana                7.985760e+08         8.701810e+08
31      Nebraska               2.048716e+09         4.411824e+09
32      Nevada                 2.323840e+08         2.349220e+08
33      New Hampshire          1.231277e+09         2.611920e+09
34      New Jersey             1.991079e+10         2.512473e+10
35      New Mexico             4.647730e+09         1.067290e+09
36      New York               2.875991e+10         3.749433e+10
37      North Carolina         1.396918e+10         5.674844e+09
38      North Dakota           1.337121e+09         9.274000e+08
39      Ohio                   1.518204e+10         2.318041e+10
40      Oklahoma               5.951714e+09         5.859473e+09
41      Oregon                 8.349825e+09         5.936770e+09
42      Pennsylvania           1.807050e+10         2.954804e+10
44      Rhode Island           1.262413e+09         1.171879e+09
45      South Carolina         5.734902e+09         4.679090e+09
46      South Dakota           1.018204e+09         1.595514e+09
47      Tennessee              6.078343e+09         6.252826e+09
48      Texas                  3.867917e+10         6.756932e+10
49      Utah                   5.256666e+09         4.196032e+09
50      Vermont                7.659320e+08         1.273250e+08
51      Virginia               7.338782e+09         6.943148e+09
53      Washington             1.724745e+10         5.648416e+09
54      West Virginia          2.022202e+09         1.298340e+09
55      Wisconsin              8.204953e+09         9.541802e+09
56      Wyoming                9.526130e+08         4.933110e+08

                        Total_Expenditure  \
STATEFP name
01      Alabama              1.371499e+10
02      Alaska               1.037706e+09
04      Arizona              1.574263e+10
05      Arkansas             9.749658e+09
06      California           1.116487e+11
08      Colorado             2.531168e+10
09      Connecticut          1.509832e+10
12      Florida              1.628844e+10
13      Georgia              3.851428e+10
15      Hawaii               6.230530e+09
16      Idaho                4.760228e+09
17      Illinois             4.182922e+10
18      Indiana              1.916844e+10
19      Iowa                 1.235380e+10
20      Kansas               1.223546e+10
21      Kentucky             1.045450e+10
        Missouri             0.000000e+00
22      Louisiana            8.427374e+09
23      Maine                3.877729e+09
24      Maryland             6.543904e+09
25      Massachusetts        2.753332e+10
26      Michigan             3.296824e+10
27      Minnesota            2.564227e+10
28      Mississippi          7.548626e+09
29      Missouri             1.891363e+10
30      Montana              1.987986e+09
31      Nebraska             7.445788e+09
32      Nevada               5.091720e+08
33      New Hampshire        3.970985e+09
34      New Jersey           4.588464e+10
35      New Mexico           6.366208e+09
36      New York             6.897822e+10
37      North Carolina       2.298931e+10
38      North Dakota         2.651327e+09
39      Ohio                 4.166614e+10
40      Oklahoma             1.385958e+10
41      Oregon               1.689767e+10
42      Pennsylvania         4.969985e+10
44      Rhode Island         2.647552e+09
45      South Carolina       1.154332e+10
46      South Dakota         3.043010e+09
47      Tennessee            1.341180e+10
48      Texas                1.290409e+11
49      Utah                 1.056460e+10
50      Vermont              1.026649e+09
51      Virginia             1.542973e+10
53      Washington           2.560593e+10
54      West Virginia        3.722262e+09
55      Wisconsin            1.936443e+10
56      Wyoming              1.641255e+09

                        Total_Current_Expenditures_Education  \
STATEFP name
01      Alabama                                 1.183144e+10
02      Alaska                                  9.819600e+08
04      Arizona                                 1.297759e+10
05      Arkansas                                8.378818e+09
06      California                              9.345144e+10
08      Colorado                                1.974210e+10
09      Connecticut                             1.309266e+10
12      Florida                                 1.398929e+10
13      Georgia                                 3.410084e+10
15      Hawaii                                  5.840182e+09
16      Idaho                                   4.371910e+09
17      Illinois                                3.633250e+10
18      Indiana                                 1.500207e+10
19      Iowa                                    9.576700e+09
20      Kansas                                  9.742086e+09
21      Kentucky                                9.065961e+09
        Missouri                                0.000000e+00
22      Louisiana                               7.646638e+09
23      Maine                                   3.293231e+09
24      Maryland                                5.581494e+09
25      Massachusetts                           2.220756e+10
26      Michigan                                2.694532e+10
27      Minnesota                               1.940188e+10
28      Mississippi                             6.447406e+09
29      Missouri                                1.566511e+10
30      Montana                                 1.693462e+09
31      Nebraska                                6.102828e+09
32      Nevada                                  4.600540e+08
33      New Hampshire                           3.562896e+09
34      New Jersey                              3.885598e+10
35      New Mexico                              5.413878e+09
36      New York                                5.961190e+10
37      North Carolina                          2.080854e+10
38      North Dakota                            2.165167e+09
39      Ohio                                    3.372298e+10
40      Oklahoma                                1.209325e+10
41      Oregon                                  1.230326e+10
42      Pennsylvania                            3.914812e+10
44      Rhode Island                            2.297588e+09
45      South Carolina                          9.764374e+09
46      South Dakota                            2.544238e+09
47      Tennessee                               1.187234e+10
48      Texas                                   9.519635e+10
49      Utah                                    8.768984e+09
50      Vermont                                 8.969910e+08
51      Virginia                                1.378426e+10
53      Washington                              2.039617e+10
54      West Virginia                           3.277112e+09
55      Wisconsin                               1.523472e+10
56      Wyoming                                 1.456590e+09

                        Number_of_Students  Exp_Current_RESA  \
STATEFP name
01      Alabama                  1045118.0      0.000000e+00
02      Alaska                     66356.0      0.000000e+00
04      Arizona                  1340338.0      0.000000e+00
05      Arkansas                  766148.0      0.000000e+00
06      California               6696239.0      0.000000e+00
08      Colorado                 1622434.0      0.000000e+00
09      Connecticut               601205.0      0.000000e+00
12      Florida                  1383334.0      0.000000e+00
13      Georgia                  2811336.0      0.000000e+00
15      Hawaii                    352882.0      0.000000e+00
16      Idaho                     485388.0      0.000000e+00
17      Illinois                 1988980.0      0.000000e+00
18      Indiana                  1478508.0      0.000000e+00
19      Iowa                      786290.0      3.026000e+06
20      Kansas                    739500.0      3.943920e+08
21      Kentucky                  781955.0      0.000000e+00
        Missouri                       0.0      0.000000e+00
22      Louisiana                 579780.0      0.000000e+00
23      Maine                     193271.0      0.000000e+00
24      Maryland                  330540.0      0.000000e+00
25      Massachusetts            1131295.0      0.000000e+00
26      Michigan                 2117661.0      0.000000e+00
27      Minnesota                1423244.0      0.000000e+00
28      Mississippi               647156.0      0.000000e+00
29      Missouri                 1382664.0      0.000000e+00
30      Montana                   128127.0      1.894400e+07
31      Nebraska                  474766.0      0.000000e+00
32      Nevada                     34244.0      0.000000e+00
33      New Hampshire             187542.0      0.000000e+00
34      New Jersey               1766761.0      0.000000e+00
35      New Mexico                453240.0      0.000000e+00
36      New York                 2401541.0      0.000000e+00
37      North Carolina           1973504.0      0.000000e+00
38      North Dakota              147431.0      0.000000e+00
39      Ohio                     2548794.0      0.000000e+00
40      Oklahoma                 1156506.0      0.000000e+00
41      Oregon                    916737.0      0.000000e+00
42      Pennsylvania             2389368.0      1.809672e+09
44      Rhode Island              124329.0      0.000000e+00
45      South Carolina            771186.0      0.000000e+00
46      South Dakota              235458.0      0.000000e+00
47      Tennessee                1132499.0      0.000000e+00
48      Texas                    8811387.0      0.000000e+00
49      Utah                      958898.0      0.000000e+00
50      Vermont                    29658.0      0.000000e+00
51      Virginia                 1093385.0      0.000000e+00
53      Washington               1360572.0      0.000000e+00
54      West Virginia             251262.0      5.992000e+06
55      Wisconsin                1158444.0      2.001900e+07
56      Wyoming                    78466.0      0.000000e+00

                        Estimated_Total_Population  \
STATEFP name
01      Alabama                          7368282.0
02      Alaska                            249366.0
04      Arizona                         13693867.0
05      Arkansas                         5047096.0
06      California                      53857316.0
08      Colorado                        11002450.0
09      Connecticut                      4782569.0
12      Florida                         10050784.0
13      Georgia                         17676884.0
15      Hawaii                           2814012.0
16      Idaho                            3170116.0
17      Illinois                        18030339.0
18      Indiana                          9952868.0
19      Iowa                             4957278.0
20      Kansas                           4419440.0
21      Kentucky                         5185711.0
        Missouri                               0.0
22      Louisiana                        4030130.0
23      Maine                            1643574.0
24      Maryland                         2233830.0
25      Massachusetts                    9089369.0
26      Michigan                        17006856.0
27      Minnesota                        9929962.0
28      Mississippi                      4375356.0
29      Missouri                         9728654.0
30      Montana                          1735866.0
31      Nebraska                         2698808.0
32      Nevada                            242368.0
33      New Hampshire                    1667820.0
34      New Jersey                      13809496.0
35      New Mexico                       3411714.0
36      New York                        18113314.0
37      North Carolina                  14689890.0
38      North Dakota                      969275.0
39      Ohio                            19078660.0
40      Oklahoma                         7581544.0
41      Oregon                           7174069.0
42      Pennsylvania                    19389718.0
44      Rhode Island                     1014401.0
45      South Carolina                   5270980.0
46      South Dakota                     1518340.0
47      Tennessee                        8451660.0
48      Texas                           52523246.0
49      Utah                             5389484.0
50      Vermont                           630868.0
51      Virginia                         7920523.0
53      Washington                       8626980.0
54      West Virginia                    1794598.0
55      Wisconsin                        8230009.0
56      Wyoming                           482540.0

                        Estimated_School_Age_Population  \
STATEFP name
01      Alabama                               1190528.0
02      Alaska                                  42938.0
04      Arizona                               1913294.0
05      Arkansas                               848330.0
06      California                            7889224.0
08      Colorado                              1757406.0
09      Connecticut                            710264.0
12      Florida                               1525838.0
13      Georgia                               3086326.0
15      Hawaii                                 423556.0
16      Idaho                                  594110.0
17      Illinois                              2291262.0
18      Indiana                               1699240.0
19      Iowa                                   830554.0
20      Kansas                                 784526.0
21      Kentucky                               842484.0
        Missouri                                    0.0
22      Louisiana                              695946.0
23      Maine                                  229552.0
24      Maryland                               351592.0
25      Massachusetts                         1322459.0
26      Michigan                              2699897.0
27      Minnesota                             1692617.0
28      Mississippi                            759942.0
29      Missouri                              1605111.0
30      Montana                                155945.0
31      Nebraska                               483836.0
32      Nevada                                  37244.0
33      New Hampshire                          216855.0
34      New Jersey                            2037363.0
35      New Mexico                             548600.0
36      New York                              2735468.0
37      North Carolina                        2404194.0
38      North Dakota                           170300.0
39      Ohio                                  3101192.0
40      Oklahoma                              1332207.0
41      Oregon                                1086533.0
42      Pennsylvania                          2917770.0
44      Rhode Island                           146225.0
45      South Carolina                         872537.0
46      South Dakota                           264246.0
47      Tennessee                             1266604.0
48      Texas                                 9686201.0

 ##### all of this here is to figure out wtf the geojson would not display correctly.

In [232]:
from shapely import wkt

merged_df = result.merge(test, on='name')
# merged_df.to_csv('States_Grouped.csv')
#gtest = gpd.read_file('/Users/nicholashorton/Documents/Data Viz/Final Project/States_Grouped.csv')

# Convert to GeoDataFrame
gdf = gpd.GeoDataFrame(merged_df, geometry='geometry')
gdf = gdf.to_crs("EPSG:4326")
# gdf.to_file('States_Grouped.json')
# gdf.to_file('States_Grouped.geojson')

In [233]:
import geopandas as gpd
from shapely.geometry import MultiPolygon, Polygon

# Assuming gdf is your main GeoDataFrame containing all states
virginia_geojson = gdf[gdf['name'] == 'Virginia']

def clean_multipolygon(geometry):
    """
    Cleans a MultiPolygon geometry by:
    - Removing invalid or degenerate polygons.
    - Ensuring each polygon is closed and valid.
    """
    if isinstance(geometry, MultiPolygon):
        # Use .geoms to iterate over the individual polygons in the MultiPolygon
        cleaned_polygons = [
            poly for poly in geometry.geoms 
            if poly.is_valid and poly.area > 1e-6  # Adjust threshold as needed
        ]
        return MultiPolygon(cleaned_polygons) if cleaned_polygons else None
    elif isinstance(geometry, Polygon):
        # If it's a single Polygon, validate it
        return geometry if geometry.is_valid and geometry.area > 1e-6 else None
    else:
        return None

# Apply the cleaning function to the Virginia row
virginia_geojson['geometry'] = virginia_geojson['geometry'].apply(clean_multipolygon)

# Ensure no None geometries are left
cleaned_virginia = virginia_geojson[virginia_geojson['geometry'].notnull()]

# Replace the cleaned geometry in the original GeoDataFrame
gdf.update(cleaned_virginia)

# Save the updated GeoDataFrame back to GeoJSON
gdf.to_file("updated_states.geojson", driver="GeoJSON")

print("Original GeoJSON updated with cleaned Virginia.")

Original GeoJSON updated with cleaned Virginia.

/Users/nicholashorton/miniconda3/envs/myenv/lib/python3.8/site-packages/geopandas/geodataframe.py:1538: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  super().__setitem__(key, value)

I finally figured it out. There was something wrong with the coordinates for Virginia. now its fixed and it all displays correctly.

# export files so that i can fuck with them

In [160]:
pov.to_csv('Poverty.csv')
fina.to_csv('Finance.csv')
combined_gdf.to_file('combined_shapefiles.shp')

In [140]:
fina

,fips,leaid,Total Revenue,Total Fedreal Revenue,Total State Revenue,rev_local_total,Total Expenditure,Total current expenditures for elementary and secondary education,Number of students attending school within the reporting local education agency,exp_current_resa
0,1,0100002,-1.0,-1.0,-1.0,-1,-1,-1,-2,-1.0
1,1,0100005,74420000.0,10327000.0,47611000.0,16482000,59207000,54703000,5842,0.0
2,1,0100006,72199000.0,13429000.0,43954000.0,14816000,68866000,64386000,5758,0.0
3,1,0100007,202260000.0,12871000.0,84578000.0,104811000,192421000,165287000,13640,0.0
4,1,0100008,169202000.0,16719000.0,85046000.0,67437000,184180000,125095000,11804,0.0
...,...,...,...,...,...,...,...,...,...,...
19549,56,5680250,-2.0,-2.0,-2.0,-2,-2,-2,1,-2.0
19550,56,5680251,-2.0,-2.0,-2.0,-2,-2,-2,21,-2.0
19551,56,5680252,-2.0,-2.0,-2.0,-2,-2,-2,13,-2.0
19552,56,5680253,-2.0,-2.0,-2.0,-2,-2,-2,11,-2.0
19553,56,5680255,-2.0,-2.0,-2.0,-2,-2,-2,7,-2.0

In [143]:
type(combined_gdf)

geopandas.geodataframe.GeoDataFrame